
@media (min-width: 320px) and (max-width: 520px) {
  #main {
    .answer{
      padding-top: 70px;
      .media {
        .media_right {
          .label {
            display: none;
          }
        }
      }
      nav.numPage {
        display: none;
      }
      nav.easyPage {
        display: block;
      }
    }
  }
}

@media (min-width: 520px) {
  #main {
    .answer {
      .media-body {
        .media_right {
          .label {
            display: inline-block;
          }
        }
      }
      nav.numPage {
        display: block;
      }
      nav.easyPage {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #main {
    .answer {
      padding-top: 90px;
      .col-md-3 {
        .input-group {
          width: 50%;
          margin-left: 10%;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #main {
    .answer {
      padding-top: 30px;
      .col-md-3 {
        .input-group {
          width: 40%;
          margin-left: 22%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #main {
    .answer {
      .col-md-3 {
        .input-group {
          width: 40%;
          margin-left: 20%;
        }
      }
    }
  }
}

#main {
  .answer {
    .container {
      border-radius: 3px;
      background-color: #eee;
      .row {
        padding-top:20px;
        .col-md-9 {
          cursor: pointer;
          .media {
            padding-bottom: 10px;
            padding-top: 10px;
            border-bottom: 1px solid #ddd;
            .media-body {
              p:first-of-type {
                color: #9ba6b5;
              }
              p:last-of-type {
                color: #9ba6b5;
                &:hover {
                  color: #333;
                }
              }
              .media-heading {
                color: #333;
              }
              .badge {
                background-color: $commoncolor;
              }
            }
          }
          nav.numPage {
            text-align: center;
            li.active{
              a{
                background-color:$commoncolor;
                border:1px solid $commoncolor;
              }
            }
          }
          nav.easyPage {
            a {
              background-color: #f5f5f5;
              color: $commoncolor;
              transition:all .5s;
              &:hover{
                background-color:$commoncolor;
                color:#f5f5f5;
              }
            }
          }
        }
        .col-md-3 {
          .jumbotron {
            padding: 20px 15px 15px 15px;
            background-color: #f5f5f5;
            border: 1px solid $commoncolor;
            h1 {
              font-size: 22px;
              text-align: center;
              color: $commoncolor;
              letter-spacing: 2px;
            }
            .recommend {
              margin-top: 15px;
              margin-bottom: 15px;
              font-size: 16px;
              line-height: 2em;
              text-align: center;
            }
            .input-group {
              input {
                transition: all .5s;
                &:focus {
                  width: 120%;
                }
              }
              .input-group-btn {
                display: block;
                .btn {
                  background-color: $commoncolor;
                  color: #f5f5f5;
                  border: 1px solid #ccc;
                }
              }
            }
          }
          .intro {
            .to {
              color: $commoncolor;
              font-size: 18px;
              margin-bottom: 15px;
              padding-bottom: 8px;
              border-bottom: 1px solid $commoncolor;
            }
            li {
              border: 1px solid #ddd;
              border-radius: 3px;
              margin-bottom: 10px;
              background-color: #f5f5f5;
              text-align: center;
              transition: all .5s;
              &:hover {
                box-shadow: 6px 6px 6px #333;
              }
              a {
                color: #333;
                font-size: 16px;
              }
            }
          }
        }
      }
    }

  }
}